.card-container__div {
  border: 1px black solid;
  font-family: sans-serif;
  border-radius: 5px;
  width: 150px;
  height: 205px;
}
.poke-img__div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.poke-img {
  width: 120px;
}
.poke-name {
  text-align: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  font-size: 18px;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.poke-types {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.poke-type {
  border-radius: 7px;
  background-color: grey;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px;
  margin-right: 10px;
}

.card {
  background-color: rgb(214, 228, 233);
}
.card-fav {
  background-color: rgb(163, 218, 163);
}