.card-container__div {
    border: 1px black solid;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: rgb(214, 228, 233);
    width: 150px;
    height: 205px;
}
.poke-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke-name {
    text-align: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-size: 15px;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}
.poke-types {
    display: flex;
}